.large-certification {
  transform: scale(1.2);
  font-size: 7px;
  display: flex;
  justify-items: center;
  margin: 1.5rem auto;
}

.large-certification .testdome-certificate-name,
.large-certification .testdome-certificate-test-name,
.large-certification .testdome-certificate-card-logo {
  font-size: 1.5em;
}

.large-certification .testdome-certificate-card-logo {
  line-height: 1.5;
}
